.flight_title{
	margin: 25px 0px;
}
.flight_header
{
	margin: 0px 20px;
}
.alert-error {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    color: #fff;
    border: 1px solid transparent;
    border-radius: .25rem;
    background: #FFA07A;
}